html {
    scroll-behavior: smooth;
}       

* {
    font-family: Times New Roman PS Pro Bold;
    padding: 0%;
    margin: 0%;
}

.curso{
    align-items: center;
    margin: 10px;
}
audio{
    margin: 20px;
}



.container{
    background-image: url("https://miro.medium.com/v2/resize:fit:1400/1*jA0gzfDcuOvOtKO1FfIMjg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
   
    margin-top: 150px;
    width: 80%;
    margin-left: 10%;
}

div {
    
    display: flex;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    color: rgb(218, 183, 141);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 20px;
}

.titulo {
    color: rgb(224, 165, 93);
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contacto {
    color: rgb(224, 165, 93);
    display: flex;
    margin-left: 7%;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


nav {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    width: 90%;
    border-radius: 30px;
        
}

nav ul {
    list-style: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.relleno {
    padding: 30px;
    text-align: justify;
    color: rgb(218, 183, 141);
}

.relleno-contacto {
    padding: 10px;
    text-align: justify;
    color: rgb(218, 183, 141);
}



nav ul li {
 
    position: relative;
    font-size: 20px;
    border-radius: 20px;
    display: inline-block;

}

nav ul li a {
    display: block;
    padding: 30px;
    color: rgb(219, 184, 142);
    text-decoration: none;
}

.imagen {
    border-radius: 10%;
    height: 150px;
    width: 200px;
    transition: 0.5s;
}
.imagen:hover{
    transform: scale(1.2);
}

.productos{
    width: 400px;
}

article {   
    text-align: center;
    margin: 20px;
}

.articulos {

    display: flex;
    flex-direction: row;
}

.logo {
    padding: 10px;
    height: 250PX;
    width: 300px;
    border-radius: 50%;
    margin-bottom: 20px;

}

.menu {
    margin-bottom: 30px;
}



footer {
    margin-top: 10px;
    background-color: #282828da;
    display: flex;
    flex-direction: row;
}
.musica{
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: transparent;
}

.contactos{
background-color: transparent;
}

input{
    margin-top: 10px;
    width: 20%;
    height: 20px;
    background-color: rgb(187, 135, 114);
    border-radius: 10px;
    border: solid black 2px;
    padding: 3px;
}
.enviar{
    margin-top: 10px;
    height: 25px;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.visitas{
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0); 
    
}
.visitas img{
    height: 20px;
}
